.st0 {
  fill: none;
}
.st1 {
  fill: #ed4c60;
}
.st4 {
  fill: #e0e0e0;
}
.st5 {
  fill: #ebebeb;
}
.st6 {
  fill: #ffffff;
}
/* .st7{fill:#263238;} */
/* .st8{fill:#E8505B;} */
.st9 {
  fill: #455a64;
}
.st10 {
  fill: #fafafa;
}
.st11 {
  fill: #ffbe9d;
}
.st12 {
  opacity: 0.6;
}
.st13 {
  opacity: 0.3;
}
.st14 {
  fill: #eb996e;
}
