.st0{fill:none;}
.st1{fill:#ED4C60;}
.st4{fill:#E0E0E0;}
.st5{fill:#EBEBEB;}
.st6{fill:#FFFFFF;}
/* .st7{fill:#263238;} */
/* .st8{fill:#E8505B;} */
.st9{fill:#455A64;}
.st10{fill:#FAFAFA;}
.st11{fill:#FFBE9D;}
.st12{opacity:0.6;}
.st13{opacity:0.3;}
.st14{fill:#EB996E;}